<mat-toolbar color="primary" >
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
  </button> -->

  <span>Supermercado</span>

  <span class="example-spacer"></span>

  <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="toGo('home')">
    Inicio
  </button>

  <button [color]="color" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="toGo('productos')">
    Productos
  </button>
  
   <button *ngIf="!user" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="toGo('login')">
    Login
  </button>

  <button *ngIf="user"  mat-button [matMenuTriggerFor]="menu">{{user.userName}}</button>
  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item>Item 1</button> -->
    <button mat-menu-item (click)="logOut()">Logout</button>
  </mat-menu>

</mat-toolbar>