<mat-toolbar color="primary" >
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
  </button> -->

  <span>Supermercado</span>

  <span class="example-spacer"></span>

  <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="toGo('home')">
    Inicio
  </button>

  <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="toGo('productos')">
    Productos
  </button>

</mat-toolbar>